/* Start Variable */
/* light mood */
:root{
  --bbg:white;
  --main-color: #10cab7 ;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --spacial-h:#ebeced;
  --m-b-c:rgb(227, 227, 227);
  --m-b-check-c:rgb(255, 255, 255);
  --m-b-border:rgb(161, 141, 141);
  --m-b-check-border:#bebebe;
  --icon:rgb(0, 0, 0);
  --im:#f6f6f6;
  --imb:#ddd;
  --imt:#333;
}
/* dark mood */
[data-theme='dark'] {
  --bbg:black;
  --main-color: #00685a;
  --secondary-color:#b2cfe0;
  --section-padding: 60px;
  --section-background: #222222;
  --spacial-h:#ebeced;
  --m-b-c:#303030;
  --m-b-check-c:rgb(0, 0, 0);
  --m-b-border:white;
  --m-b-check-border:#bebebe;
  --icon:#ffffff;
  --im:#4e4e4e;
  --imb:#4e4e4e;
  --imt:#ffffffb3;
}
  /* End Variable */
/* Start Global Rules */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "work sans" , sans-serif;
  background-color: var(--bbg);
}
.container{
  padding: 0 15px;
  margin: 0 auto;
}
/* Start Components */
.special-heading {
  color: var(--spacial-h);
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
/* End Components */
/* Mobile */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
  .services .services-content .srv{
    flex-direction: column;
    text-align: center;
  }
  .contact .info .label ,
  .contact .info .link{
    font-size: 25px;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
  width: 750px;
  }
}
@media (max-width:991px) {
  .about .about-content{
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .image::before,
  .about .about-content .image::after{
    display: none;
  }
  .about .about-content .image{
  margin: 0 auto 60px;
  }
}
  /* Medium */
@media (min-width: 992px) {
  .container {
  width: 970px;
  }
}
  /* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--bbg);
  z-index: 3;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a{
  color: white;
  text-decoration: none;
}
.header .logo {
  width: 60px;
}
.header .btn {
  background-color: var(--m-b-c);
  width: 50px;
  height: 21px;
  border-radius: 20px;
  border: 3px solid var(--m-b-border);
  position: relative;
  cursor: pointer;
}
.header .btn #btn{
  background-color: var(--m-b-check-c);
  width: 21px;
  border: 1px solid var(--m-b-check-border);
  height: 17px;
  border-radius: 20px;
  position: absolute;
  top: -1px;
  left: 0;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: var(--icon);
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color:var(--section-background);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--im) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--imt);
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
  border-left: 4px solid #808080;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid var(--imb);
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/jake-hills-z0gDv24X3uQ-unsplash.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 13px;
  line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features {
  padding:var(--section-padding) 0;
  background-color:var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
  color: var(--icon);
}
.features .feat p {
  line-height: 1.6;
  color: #777;
  font-size: 17px;
}
/* End Features */ 
/* Start Services */
.services{
  padding: var(--section-padding) 0; 
}
.services .services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv{
  display: flex;
  margin-bottom:40px ;
}
.services .services-content .srv i{
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text{
  flex: 1;
}
.services .services-content .srv h3{
  margin: 0 0 20px;
  color: var(--icon);
}
.services .services-content .srv p{
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image{
  text-align: center;
  position: relative;
}
.services .services-content img{
  width: 200px;
}
.services .services-content .image::before{
  content: "";
  background: var(--secondary-color);
  position: absolute;
  top: -50px;
  right: 40px;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}
@media (max-width: 1199px) {
  .img-dis{
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding: var(--section-padding) 0;
  background: var(--section-background);
}
.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card{
  background-color: var(--bbg);
}
.portfolio .portfolio-content .card .ph{
  overflow: hidden;

}
.portfolio .portfolio-content .card img{
  max-width: 100%;
  transition: .5s ,.3s;
}
.portfolio .portfolio-content .card img:hover{
  transform: scale(1.2);
  overflow: hidden;
}
.portfolio .portfolio-content .card .info{
  padding: 20px;
}
.portfolio .portfolio-content .card h3{
  margin: 0;
  color: var(--icon);
}
.portfolio .portfolio-content .card p{
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about{
  padding: var(--section-padding) 0;
}
.about .about-content{  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .about-content .image{
  position: relative;
	width: 200px;
  height: 300px;
}
.about .about-content .image::before{
  content: "";
  background: var(--section-background);
  position: absolute;
  top: -50px;
  left: -40px;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}
.about .about-content .image::after{
  content: "";
  position: absolute;
  top: -30px;
  right: -110px;
  border-left: 80px solid var(--main-color) ;
  border-bottom: 60px solid var(--main-color);
  width: 80px;
  height: 250px;
  z-index: -1;
}
.about .about-content .image img{
  max-width: 100%;
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
  color: var(--icon);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
  line-height: 1.8;
  color: #777;
}
/* End About */
/* Start Contact */
.contact{
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.contact .info{
  padding: var(--section-padding) 0;
  text-align: center;
}
.contact .info .label{
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a{
  display: block;
  font-weight: 800;
  font-size: 35px;
  text-decoration: none;
  color: var(--main-color);
}
.contact .info .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  color: var(--icon);
}
.contact .info .social i{
  margin-left: 10px;
  color: var(--secondary-color); 
}
/* End Contact */
/* Start Footer */
.footer{
  background-color: #2c4755;
  color:white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
span{
  color: var(--main-color);
  font-weight: bold ;
}
/* End Footer */